// Для импорта в диспетчер подключений: @import './src/blocks/promo/promo.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.promo {
  position: relative;
  background-color: @gray-dark;
  padding: 30px 0 44px;
  overflow: hidden;

  .container {
    position: relative;
    z-index: 2;
  }

  @media (min-width: @screen-sm) {
    padding: 50px 0 30px;
  }

  &__text {
    color: #fff;
    padding-top: 10px;

    @media (min-width: @screen-sm) {
      padding-top: 40px;
    }
  }

  &__title {
    margin-top: 0;
    font-size: 30px;
    line-height: 34px;
    max-width: 490px;
    margin-bottom: 15px;
    font-weight: 400;

    @media (min-width: @screen-md) {
      font-size: 40px;
      line-height: 44px;
      margin-bottom: 25px;
    }
  }

  &__list {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 25px;
    padding: 0;
    list-style: none;
    font-weight: 300;

    @media (min-width: @screen-md) {
      font-size: 22px;
      line-height: 30px;
    }

    li {
      margin-bottom: 10px;
      padding-left: 32px;
      background: url(../img/icon-ok-3.svg) 3px 0px no-repeat;
      background-size: 20px 20px;

      @media (min-width: @screen-md) {
        padding-left: 38px;
        background: url(../img/icon-ok-3.svg) 3px 1px no-repeat;
        background-size: 24px 24px;
      }
    }
  }

  &__subtitle {
    font-size: 21px;
    margin: 0 0 24px;
    font-weight: 400;
  }

  &__subform {
    color: @gray-light;
    margin: 25px 0 0;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.46);
  }

  &__video {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__small {
    color: #fff;
  }

  &__btn-action {
    max-width: 250px;
  }
}
