// Для импорта в диспетчер подключений: @import './src/blocks/capabilities/capabilities.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.capabilities {
  padding: 25px 0 70px;

  @media (min-width: @screen-sm) {
    padding-bottom: 90px;
  }

  &__title {
    .h1();
    margin: 0 0 8px;
    color: @gray-dark;
    font-weight: 500;
  }

  &__sub-title {
    margin: 0 0 35px;
    font-weight: 300;
    font-size: @font-size-h3 - 2;

    @media (min-width: @screen-sm) {
      margin: 0 0 48px;
    }

    @media (min-width: @screen-md) {
      font-size: @font-size-h3;
    }
  }

  &__list {
    position: relative;
    font-size: 16px;

    @media (min-width: @screen-sm) {
      margin-bottom: 60px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 75px;
      background: linear-gradient(to top, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0) 100%);;
    }

    li {
      margin-bottom: 8px;
    }
  }

  .row > .col-xs-12:first-child > &__list {

    &:before {
      display: none;

      @media (min-width: @screen-sm) {
        display: block;
      }
    }
  }

  .row > .col-xs-12:last-child > &__list {
    margin-bottom: 35px;

    @media (min-width: @screen-sm) {
      margin-bottom: 60px;
    }
  }

  &__msg {
    font-size: 20px;
    max-width: 615px;
    margin: auto;

    @media (min-width: @screen-sm) {
      font-size: 22px;
    }

    p {
      margin-bottom: 26px;
    }

    .btn {
      width: 250px;
    }
  }
}
