// Для импорта в диспетчер подключений: @import './src/blocks/reviews/reviews.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.reviews {
  padding: 95px 0 128px;

  &__title {
    .h1();
    margin: 0 0 51px;
  }

  &__partners-title {
    font-weight: 400;
    margin: 0;
    font-size: 26px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  &__gallery {
    position: relative;

    .owl-nav {
      display: none;

      @media (min-width: @screen-md) {
        display: block;
      }

      .owl-prev {
        font-size: 0;
        color: transparent;
        position: absolute;
        top: 50%;
        left: -40px;
        width: 35px;
        height: 35px;
        transform: translateY(-50%) rotate(135deg);
        border-right: 4px solid @text-color;
        border-bottom: 4px solid @text-color;

        @media (min-width: @screen-lg) {
          left: -60px;
        }
      }

      .owl-next {
        font-size: 0;
        color: transparent;
        position: absolute;
        top: 50%;
        right: -40px;
        width: 35px;
        height: 35px;
        transform: translateY(-50%) rotate(-45deg);
        border-right: 4px solid @text-color;
        border-bottom: 4px solid @text-color;

        @media (min-width: @screen-lg) {
          right: -60px;
        }
      }
    }
  }
}
