// Для импорта в диспетчер подключений: @import './src/blocks/reviews/reviews.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.reviews {
  padding: 0 0 128px; // 95

  &__title {
    .h1();
    margin: 0 0 51px;
  }

  &__partners-title {
    font-weight: 400;
    margin: 0;
    font-size: 26px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 60px;
  }

  &__gallery {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      left: -1px;
      background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      width: 60px;
      display: none;

      @media (min-width: @screen-sm) {
        display: block;
      }

      @media (min-width: @screen-md) {
        width: 90px;
      }
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 10;
      top: 0;
      bottom: 0;
      right: -1px;
      background: linear-gradient(to left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
      width: 60px;
      display: none;

      @media (min-width: @screen-sm) {
        display: block;
      }

      @media (min-width: @screen-md) {
        width: 90px;
      }
    }

    .owl-nav {
      display: none;

      @media (min-width: @screen-sm) {
        display: block;
      }

      .owl-prev {
        font-size: 0;
        color: transparent;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        transform: translateY(-50%) translateX(-198px) rotate(135deg);
        border-right: 3px solid @gray-light;
        border-bottom: 3px solid @gray-light;

        @media (min-width: @screen-md) {
          transform: translateY(-50%) translateX(-255px) rotate(135deg);
        }

        @media (min-width: @screen-lg) {
          transform: translateY(-50%) translateX(-303px) rotate(135deg);
        }
      }

      .owl-next {
        font-size: 0;
        color: transparent;
        position: absolute;
        top: 50%;
        right: 50%;
        width: 20px;
        height: 20px;
        transform: translateY(-50%) translateX(198px) rotate(-45deg);
        border-right: 3px solid @gray-light;
        border-bottom: 3px solid @gray-light;

        @media (min-width: @screen-md) {
          transform: translateY(-50%) translateX(255px) rotate(-45deg);
        }

        @media (min-width: @screen-lg) {
          transform: translateY(-50%) translateX(303px) rotate(-45deg);
        }
      }
    }
  }

  &__partners {
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
