// Для импорта в диспетчер подключений: @import './src/blocks/page-nav/page-nav.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.page-nav {
  min-height: 85px;
  background-color: #fff;
  border: 0 !important;
  box-shadow: 0 2px 5px rgba(0,0,0,0.20);

  @media (min-width: @screen-xs) {
    min-height: 58px;
  }

  .navbar-brand {
    height: auto;
  }

  .navbar-nav {
    text-transform: uppercase;
    color: @text-color;
    font-weight: 700;
    padding-top: 18px;
  }

  .navbar-nav > li > a {
    color: @text-color;
  }

  .contacts {
    padding-top: 20px;

    @media (min-width: @screen-sm) {
      padding-top: 6px;
      margin-bottom: 0;
    }

    @media (min-width: @screen-md) {
      padding-top: 20px !important;
    }
  }

  .navbar-nav {

    @media (min-width: @screen-sm) {
      display: none;
    }
    @media (min-width: @screen-md) {
      display: block !important;
    }
  }
}
