// Для импорта в диспетчер подключений: @import './src/blocks/logo/logo.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.logo {
  display: block;
  font-size: 28px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 700;
  color: @text-color;
  max-width: 180px;

  &__main {

    @media (min-width: @screen-xs) {
      margin-right: 10px;
    }

    @media (min-width: @screen-md) {
      margin-right: 0;
    }
  }

  &__descr {
    font-size: 12px;
    margin-top: 10px;
    line-height: 14px;
    font-weight: 400;
    text-transform: none;

    @media (min-width: @screen-xs) {
      margin: 0;
    }

    @media (min-width: @screen-md) {
      margin-top: 10px;
    }
  }

  &:hover, &:focus {
    color: @text-color;
    text-decoration: none;
  }

  @media (min-width: @screen-xs) {
    display: flex;
    max-width: none;
    align-items: center;
    width: 300px;
  }

  @media (min-width: @screen-sm) {}

  @media (min-width: @screen-md) {
    display: block;
    width: auto;
    max-width: 180px;
  }
}
