// Для импорта в диспетчер подключений: @import './src/blocks/page-footer/page-footer.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.page-footer {
  background-color: #333;
  text-align: center;
  color: #fff;
  padding: 26px 0;

  &__copyright {
    color: #555;
    margin-top: 20px;
  }
}
