// Для импорта в диспетчер подключений: @import './src/blocks/contacts/contacts.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.contacts {
  display: block;
  margin-bottom: 10px;
  text-align: left;

  @media (min-width: @screen-sm) {
    text-align: right;
  }

  &__phone {
    font-size: 20px;
    font-weight: 700;
    background: url(../img/icon-phone-3.svg) 0 50% no-repeat;
    background-size: 17px 17px;
    padding-left: 25px;

    &:hover, &:focus {
      color: @text-color;
      text-decoration: none;
    }
  }
}
