// Для импорта в диспетчер подключений: @import './src/blocks/tariff/tariff.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.tariff {
  position: relative;
  // padding-top: 250px; // 320
  margin-top: 20px;
  margin-bottom: 55px;
  // background-color: @gray-lighter;

  &__text {
    padding-bottom: 10px;
    padding-left: 15px;

    @media (min-width: @screen-sm) {
      padding-left: 0;
    }

    @media (min-width: @screen-sm) {
      min-height: 348px;
    }
  }

  &__title {
    margin: 0 0 15px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 400;

    small {
      display: block;
      font-size: 1em;
      color: inherit;
    }
  }

  &__price {
    margin-bottom: 15px;

    .h3 {
      font-size: 26px;
      margin: 0;
      font-weight: 700;
    }
  }

  &__descr {
    font-size: 16px;

    p {
      margin: 0 0 5px;
    }
  }

  &__list {
    padding-left: 1em;
  }

  &__actions {
    padding-left: 15px;

    @media (min-width: @screen-sm) {
      padding-left: 0;
    }

    .btn {
      width: 250px;

      @media (min-width: @screen-sm) {
        width: 220px;
      }

      @media (min-width: @screen-md) {
        width: 250px;
      }
    }
  }



  &--10 {
    padding-top: 250px;
    background: url(../img/dog.png) 50% 5px no-repeat; // 55

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -10px;
      left: -15px;
      right: -15px;
      height: 193px;
      background-color: @gray-lighter;
      border-bottom: 1px solid #ddd;

      @media (min-width: @screen-sm) {
        display: none;
      }
    }

    @media (min-width: @screen-sm) {
      padding-top: 250px;
      background-position: 50% 43px;
      background-size: 125px auto;
    }

    @media (min-width: @screen-md) {
      background-size: auto !important;
      padding-top: 320px !important;
      margin-top: 0 !important;
    }
  }

  &--20 {
    padding-top: 320px;
    background: url(../img/hourse.png) 50% 5px no-repeat; // 5

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -20px;
      left: -15px;
      right: -15px;
      height: 261px;
      background-color: @gray-lighter;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      @media (min-width: @screen-sm) {
        display: none;
      }
    }

    @media (min-width: @screen-sm) {
      padding-top: 250px;
      background-size: 190px auto;
      background-position: 50% 10px;
    }

    @media (min-width: @screen-md) {
      background-size: auto !important;
      background-position: 50% 0 !important;
      margin-top: 0 !important;
      padding-top: 320px !important;
    }
  }

  &--30 {
    padding-top: 240px;
    background: url(../img/lion.png) 50% 30px no-repeat; // 70
    background-size: 290px auto;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -20px;
      left: -15px;
      right: -15px;
      height: 204px;
      background-color: @gray-lighter;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;

      @media (min-width: @screen-sm) {
        display: none;
      }
    }

    @media (min-width: @screen-sm) {
      padding-top: 250px;
      background-position: 50% 76px;
      background-size: 220px auto;
    }

    @media (min-width: @screen-md) {
      background-size: 293px auto !important;
      background-position: 50% 61px !important;
      margin-top: 0 !important;
      padding-top: 320px !important;
    }
  }
}
