// Для импорта в диспетчер подключений: @import './src/blocks/tariff/tariff.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.tariff {
  position: relative;
  margin-top: 20px;
  margin-bottom: 55px;
  font-weight: 500;

  &:hover .tariff__actions {
    .btn-default {
      background-color: @brand-danger;
      color: #fff;
    }
  }

  &__text {
    padding-bottom: 10px;
    padding-left: 15px;
    position: relative;
    z-index: 2;

    @media (min-width: @screen-xs) {
      padding-left: 80px;
    }

    @media (min-width: @screen-sm) {
      padding-left: 0;
    }

    @media (min-width: @screen-sm) {
      min-height: 290px;
    }
  }

  &__title {
    margin: 0 0 15px;
    font-size: 26px;
    line-height: 30px;
    font-weight: 500;
    color: @gray-dark;

    small {
      display: block;
      font-size: 1em;
      color: inherit;
      font-weight: 500;
      color: @gray-dark;
    }
  }

  &__price {
    margin-bottom: 15px;

    .h3 {
      font-size: 26px;
      margin: 0;
      font-weight: 700;
    }

    small {
      font-size: 14px;
    }

    &--info {
      color: @brand-info;
    }

    &--warning {
      color: @brand-warning;
    }

    &--success {
      color: @brand-success;
    }
  }

  &__descr {
    font-size: 16px;

    p {
      margin: 0 0 5px;
    }

    ul {
      margin-bottom: 0;
    }
  }

  &__list {
    padding-left: 1em;
  }

  &__actions {
    padding-left: 15px;

    @media (min-width: @screen-xs) {
      padding-left: 80px;
    }

    @media (min-width: @screen-sm) {
      padding-left: 0;
    }

    .btn {
      width: 250px;

      @media (min-width: @screen-sm) {
        width: 220px;
      }

      @media (min-width: @screen-md) {
        width: 250px;
      }
    }
  }



  &--10 {
    padding-top: 250px;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -10px;
      left: -15px;
      right: -15px;
      height: 193px;
      background-color: #d4ebf4;

      @media (min-width: @screen-sm) {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      height: 250px;
      background: url(../img/dog.png) 50% 5px no-repeat;

      @media (min-width: @screen-sm) {
        background-position: 50% 43px;
        background-size: 125px auto;
      }

      @media (min-width: @screen-md) {
        background-size: auto !important;
        height: 320px !important;
        background-position: 50% 58px !important;
      }
    }

    @media (min-width: @screen-sm) {
      padding-top: 250px;
    }

    @media (min-width: @screen-md) {
      padding-top: 320px !important;
      margin-top: 0 !important;
    }
  }



  &--20 {
    padding-top: 320px;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -20px;
      left: -15px;
      right: -15px;
      height: 261px;
      background-color: #d4ebf4;

      @media (min-width: @screen-sm) {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      height: 320px;
      background: url(../img/hourse.png) 50% 5px no-repeat;

      @media (min-width: @screen-sm) {
        background-size: 190px auto;
        background-position: 50% 10px;
        height: 250px;
      }

      @media (min-width: @screen-md) {
        background-size: auto !important;
        background-position: 50% 0 !important;
        height: 331px !important;
        top: 20px;
      }
    }

    @media (min-width: @screen-sm) {
      padding-top: 250px;
    }

    @media (min-width: @screen-md) {
      background-size: auto !important;
      background-position: 50% 0 !important;
      margin-top: 0 !important;
      padding-top: 320px !important;
    }
  }



  &--30 {
    padding-top: 240px;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      top: -20px;
      left: -15px;
      right: -15px;
      height: 204px;
      background-color: #d4ebf4;

      @media (min-width: @screen-sm) {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      height: 240px;
      background: url(../img/lion.png) 50% 30px no-repeat; // 70
      background-size: 290px auto;

      @media (min-width: @screen-sm) {
        background-position: 50% 76px;
        background-size: 220px auto;
        height: 250px;
      }

      @media (min-width: @screen-md) {
        left: -35px !important;
        right: -20px !important;
        background-size: 349px auto !important;
        background-position: 50% 73px !important;
        height: 320px !important;
      }
    }

    @media (min-width: @screen-sm) {
      padding-top: 250px;
    }

    @media (min-width: @screen-md) {
      margin-top: 0 !important;
      padding-top: 320px !important;
    }
  }
}
