// Для импорта в диспетчер подключений: @import './src/blocks/tariffs/tariffs.less';

@import '../../less/variables.less';     // только для удобства обращения к переменным


.tariffs {
  position: relative;
  padding: 75px 0 100px;

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    height: 382px;
    background-color: @gray-lighter;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: none;

    @media (min-width: @screen-sm) {
      display: block;
    }
  }

  &__title {
    .h1();
    margin: 0 0 16px;
  }

  &__sub-title {
    margin: 0 auto 12px;
    font-weight: 300;
    font-size: 22px;
    max-width: 650px;
  }

  &__title {
    font-size: 28px;
    font-weight: 400;

    small {
      display: block;
      font-size: 1em;
    }
  }

  &__msg {
    margin-top: 40px;
  }
}
